<div class="row">
    <div class="col-xs-12 col-md-4 offset-md-3">
<h1>Editing Team</h1>
    </div>
</div>

<%= render 'form', team: @team %>
<div class="row">
    <div class="col-xs-12 col-md-4 offset-md-3">
        <%= link_to 'Back', teams_path, { :class => 'btn btn-secondary'} %>
    </div>
</div>


