<div class="row">
    <div class="col-xs-12 col-md-8 offset-md-3">
<h1>Editing Draft Record</h1>
    </div>
</div>

<%= render 'form', draft_record: @draft_record %>
<div class="row">
    <div class="col-xs-12 col-md-4 offset-md-3">
        <%= link_to 'Back', draft_records_path, { :class => 'btn btn-secondary'} %>
    </div>
</div>
